.layout-component {
    display: flex;
    flex-direction: column;
    height: 100vh;
    main {
        display: flex;
        flex-grow: 1;
        section.container {
            display: flex;
            position: relative;
            flex-grow: 1;
        }
    }
}
