.layout-component {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    header {}
    main {
        display: flex;
        flex-grow: 1;
        aside {}
        section.container {
            display: flex;
            flex-grow: 1;
        }
    }
    footer {}
}