// Colors
$onyx: #3E363F;
$cinnabar: #DD403A;
$cosmiclatte: #FFFCE8;
.login-input-component {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    input {
        outline: none;
        border: 0;
        color: $cosmiclatte;
        background: transparent;
        border-bottom: 1px solid rgba($cosmiclatte, .1);
        flex: 1 0 auto;
        font-size: 14px;
        font-weight: 300;
        padding: 0 4px;
    }
    .error {
        font-size: 12px;
        padding: 3px;
        color: $cinnabar;
    }
}