.global_view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .stats_panel {
        background-color: lavenderblush;
        display: flex;
        height: 80%;
        width: 80%;
        border-radius: 10px;
    }
}